* {
    font-family: 'Inter';
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #F2F2F2;
}

main {
    display: flex;
    flex-direction: column;
}

.solid {
    height: 15vh;
    width: 100%;
    background: #f2f2f2c4;
    position: fixed;
    top: 0;
    z-index: 50;
}

.gradient {
    height: 10vh;
    width: 100%;
    background:linear-gradient(#f2f2f2c4, rgba(255, 255, 255, 0));
    position: fixed;
    top: 15vh;
    z-index: 50;
}

.hero {
    overflow: hidden;
    background-color: #222222;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    height: 80vh;
    border-radius: 0 0 1em 1em;
    margin-bottom: 5vh;
    z-index: 100;
    position:relative;
}

.hero-content {
    display: flex;
    margin: auto 20% auto 20%;
    flex-direction:column;
    text-align: left;
    justify-content: center;
}

.hero h3, .hero h5, .hero h1{
    color: #f2f2f2;
}

h3 {
    font-size: 2em;
    font-style: italic;
    font-weight: lighter;
    color:#222222;
    margin-bottom: .1em;
}

.section h3 {
    /* text-decoration: underline solid 2px #6878DE;
    text-underline-offset: 0.5em; */
    margin-bottom: 1em;
}

.hero h5 {
    margin-top: .1em;
    font-size: 1.5em;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #6878DE;
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-thickness: 2px;
    -webkit-text-decoration-color: #6878DE;
    text-underline-offset: 0.5em;
    font-weight: lighter;
}

h1 {
    margin-top: .1em;
    margin-bottom: .5em;
    font-weight: 900;
    font-size: 8em;
}

main h5 {
    margin-top: .1em;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: lighter;
    color:#9f9f9f
}

p {
    line-height: 1.6;
    font-size: 1em;
    padding-left: 1em;
    border-left: solid 2px #6878DE;
}

nav {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 20%;
    position: sticky;
    top: 5vh;
    background-color: #222222; 
    overflow-x: hidden;
    border-radius: 1em;
    z-index: 100;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: .5em;
    flex-grow: 1; 
    flex-basis: 0;
    justify-content: space-between;
}

nav li {
    display: flex;
    margin: .5em;
    color: #F2F2F2;
    list-style-type: none;
    flex-grow: 1;
    flex-basis: 0;
    background-color: #2c2c2c;
    border-radius: .25em;
    align-content: center;
    text-align: center;
}

nav a {
    font-weight: lighter;
    font-style: italic;
    list-style-type: none;
    color: #F2F2F2;
    text-decoration: none;
    font-size: 1em;
    align-content: center;
    padding: 1em .5em;
    flex-grow: 1;
    flex-basis: 0;
    border-radius: .25em;
}

nav li a:hover {
    background-color: #3b3b3b;
    transition: 300ms ease-in;
}

nav li a.active {
    background-color: #6878DE;
    transition: 300ms ease-in;
}

.section-container {
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.section {
    min-height: 25vh;
    justify-content: center;
    margin: 25vh 20% 25vh 20%;
    padding: 5em;
    scroll-margin-top: 10vh;
}

.horizontal-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horizontal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.horizontal-list h7 {
    margin-right: 2em;
    margin-top: 1em;
    font-size: 1em;
    font-weight: lighter;
    color:#9f9f9f
}

.horizontal-section ul {
    margin-left: 0;
    padding-left: 1em;
    border-left: solid 2px #6878DE;
}

.horizontal-section li {
    font-style: italic;
    margin-top: .5em;
    font-size: 1em;
    font-weight: lighter;
    color:#222222;
    list-style-type: none;
    text-decoration: none;
}

.experience {
    margin-bottom: 7em;
}

.experience p {
    font-size: 1em;
}

